<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="stylesheet" href="/styles/dashboard.css">
	<title>FracaScript • Dashboard</title>
</head>
<body>

	<header>
		<div class="heading">
			<div class="mobile-icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<h1>FracaScript Dashboard</h1>
		</div>
		<user-info>Simone Fracassetti</user-info>
	</header>
	<div class="dash-layout-block">
		<aside>
			<button class="space" api-section-name="create-app">Crea nuova app</button>
			<div class="block-list">

				<div class="block" api-section-name="my-apps">
					<img src="/assets/icons/apps.svg" alt="Icona">
					<span>Le tue app</span>
				</div>

				<div class="block" api-section-name="in-cloud">
					<img src="/assets/icons/upload-cloud.svg" alt="Icona">
					<span>Media in cloud</span>
				</div>

				<div class="block" api-section-name="documentation">
					<img src="/assets/icons/docs.svg" alt="Icona">
					<span>Documentazione</span>
				</div>

				<div class="line"></div>

				<div class="block" api-section-name="personal-info">
					<img src="/assets/icons/personal.svg" alt="Icona">
					<span>Informazioni personali</span>
				</div>

				<div class="block" api-section-name="password-change">
					<img src="/assets/icons/key.svg" alt="Icona">
					<span>Cambia password</span>
				</div>

			</div>
		</aside>
		<main empty>
			<div class="empty">
				<span>Non hai ancora creato nessuna app</span>
				<button class="round secondary">Inizia ora</button>
			</div>
			<div class="section-content"></div>
		</main>
	</div>

	<script> const _hHS8jid = "<%= session %>" </script>
	<script src="/scripts/views.js" type="module"></script>
	<script src="/scripts/aside.js" type="module" defer></script>
	<script src="/scripts/Checkbox.js" type="module" defer></script>
</body>
</html>