<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="stylesheet" href="/styles/FormPage.css">
	<title>FracaScript • Login</title>
</head>
<body>
	
	<header>
		<div class="logo blue square"></div>
		<div class="header--hero">
			<h1>FracaScript</h1>
			<p>Linguaggio semplice e accessibile a tutti, utile per avvicinarsi alla programmazione.</p>
		</div>
	</header>
	<form action="/login" method="POST">
		<h1 class="form--title">FracaScript GUI</h1>
		<div class="form-error"></div>
		<input type="text" placeholder="Nome utente" name="username">
		<input type="password" placeholder="Password" name="password">
		<button type="submit" class="round">accedi</button>
	</form>
	<footer>
		<p>Fracascript.com è un brand di Fracassetti.net e Immyt.com (imm.yt) Fracascript.com tratta i dati secondo quanto scritto nella <a href="/privacy" target="_self">Normativa sulla privacy</a>. Per qualsiasi informazione contatta <a href="mailto:info@fracascript.com">info@fracascript.com</a></p>
	</footer>
	<script>const error = "<%= typeof error !== 'undefined' ? error.replaceAll('"', '\\"') : '' %>"</script>
	<script src="/scripts/login.js"></script>

</body>
</html>