<link rel="stylesheet" href="/styles/blocks/in-cloud.css">
<div class="fs">
	<div id="medias">
		<button id="upload-cta"><img src="/assets/icons/upload-cloud-bold.svg" alt="">Carica un media</button>
		<h2>Le tue media</h2>
		<p>Non hai ancora caricato nessun media</p>

		<div class="medias-list">
			<div class="card">
				<img src="https://cdn.pixabay.com/photo/2021/11/11/16/05/fruits-6786607_1280.jpg" alt="Immagine non disponibile">
				<span>ID media: <b>19sdj9h</b></span>
				<div class="cta">
					<i class="copy"></i>
					<i class="delete"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="img-preview" style="display: none">
		<div class="close"><i></i></div>
		<img src="" alt="Immagine non disponibile">
		<div></div>
	</div>

	<input type="file" class="hidden" id="media-upload">
</div>

<!-- SCRIPT mediasUpload -->