<link rel="stylesheet" href="/styles/blocks/my-apps.css">

<div class="app-cards">
	<h1>Le tue app</h1>

	<div class="banner banner-2fa hidden no-apps" note>
		<div class="banner--header">
			<div class="banner--icon"></div>
			<div class="banner--hero">
				<span class="banner--title">Non hai ancora creato nessuna applicazione</span>
				<span class="banner--description">
					Inizia subito premendo il pulsante "Crea nuova app" nel menu a sinistra, se hai bisogno di aiuto puoi guardare la documentazione ufficiale
				</span>
			</div>
		</div>
	</div>

	<div loading="true" class="loading-apps"></div>

	<!-- SCRIPT myApps -->
</div>