<link rel="stylesheet" href="/styles/blocks/my-apps.css">

<div class="app-cards">
	<h1>Le tue app</h1>

	<div class="banner banner-2fa" note>
		<div class="banner--header">
			<div class="banner--icon"></div>
			<div class="banner--hero">
				<span class="banner--title">Non hai ancora creato nessuna applicazione</span>
				<span class="banner--description">
					Inizia subito premendo il pulsante "Crea nuova app" nel menu a sinistra, se hai bisogno di aiuto puoi guardare la documentazione ufficiale
				</span>
			</div>
		</div>
	</div>

	<div class="app">
		<h2><app-type mobile> Lorem ipsum dolor</app-type></h2>
		<p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Aperiam eligendi vitae ratione ad porro harum enim, expedita qui natus, ipsum repellendus doloremque, at cumque ab est atque, reprehenderit pariatur! Corrupti.</p>
	</div>

	<div class="app">
		<h2><app-type desktop> Lorem ipsum dolor</app-type></h2>
		<p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Aperiam eligendi vitae ratione ad porro harum enim, expedita qui natus, ipsum repellendus doloremque, at cumque ab est atque, reprehenderit pariatur! Corrupti.</p>
	</div>
</div>