<link rel="stylesheet" href="/styles/blocks/personal-info.css">

<div id="account">
	<div class="block">
		<h1>Informazioni personali</h1>
		<table>
			<tbody>
				<tr>
					<td>Nome completo</td>
					<td>Simone Fracassetti</td>
				</tr>
				<tr>
					<td>Indirizzo email</td>
					<td>s.fracassetti@immyt.com</td>
				</tr>
				<tr>
					<td>Data di nascita</td>
					<td>27/10/2005</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="block">
		<h1>Tabella degli ultimi accessi</h1>
		<table>
			<thead>
				<tr>
					<th>#</th>
					<td>Data e ora</td>
					<td>Dispositivo</td>
					<td>Indirizzo IP</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>1</th>
					<td>27 nov 2021 - 17:35</td>
					<td>Apple macOS</td>
					<td>192.168.1.245</td>
				</tr>
				<tr>
					<th>2</th>
					<td>27 nov 2021 - 17:35</td>
					<td>Apple macOS</td>
					<td>192.168.1.245</td>
				</tr>
				<tr>
					<th>3</th>
					<td>27 nov 2021 - 17:35</td>
					<td>Apple macOS</td>
					<td>192.168.1.245</td>
				</tr>
				<tr>
					<th>4</th>
					<td>27 nov 2021 - 17:35</td>
					<td>Apple macOS</td>
					<td>192.168.1.245</td>
				</tr>
				<tr>
					<th>5</th>
					<td>27 nov 2021 - 17:35</td>
					<td>Apple macOS</td>
					<td>192.168.1.245</td>
				</tr>
				<tr>
					<th>6</th>
					<td>27 nov 2021 - 17:35</td>
					<td>Apple macOS</td>
					<td>192.168.1.245</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="block">
		<h1>Sicurezza dell'account</h1>
		<div class="banner banner-2fa" warning>
			<div class="banner--header">
				<div class="banner--icon"></div>
				<div class="banner--hero">
					<span class="banner--title">Attiva l'autenticazione in due fattori</span>
					<span class="banner--description">
						L'autenticazione in due fattori ti permette di avere una sicurezza in più, in modo da non perdere il tuo account e non fartelo violare da persone terze.
					</span>
				</div>
			</div>
		</div>
		<div class="account-settings">
			<div class="checkbox--block" checked async>
				<div class="checkbox" option-id="two-factor"></div>
				<div class="checkbox--label" for="two-factor">Autenticazione in due fattori</div>
			</div>
			<div class="checkbox--block" loading async>
				<div class="checkbox" option-id="two-factor"></div>
				<div class="checkbox--label" for="two-factor">Ricevi newsletter (aggiornamenti dell'app)</div>
			</div>
			<div class="checkbox--block" async>
				<div class="checkbox" option-id="two-factor"></div>
				<div class="checkbox--label" for="two-factor">Ricevi newsletter (aggiornamenti dell'app)</div>
			</div>
		</div>
	</div>

</div>
