#medias button{
	margin-bottom: 20px;
	width: 350px;
}

.medias-list{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.medias-list .card img{
	transition: .4s all;
	width: 100%;
	height: 120px;
	border-radius: 15px;
	object-fit: cover;
	cursor: pointer;
}

.medias-list .card img:hover{
	transform: scale(1.05);
	border-radius: 8px;
}

.medias-list .card span{
	margin-top: 10px;
	display: block;
}

.medias-list .card .cta{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.medias-list .card .cta i{
	margin-left: 10px;
	display: block;
	width: 1.4em;
	height: 1.4em;
	border-radius: 6px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}

.medias-list .card .cta i.delete{ background-image: url(/assets/icons/trash.svg) }
.medias-list .card .cta i.copy{ background-image: url(/assets/icons/clipboard.svg) }

.medias-list .card{
	width: 250px;
	max-width: 100%;
	margin: 15px;
	border: 1px solid #E9ECF5;
	padding: 20px;
	border-radius: 15px;
	color: #24272B;
}

.img-preview{
	position: fixed;
	z-index: 29;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .6);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	pointer-events: none;
	opacity: 0;
	transition: .2s all;
}

.img-preview img{
	max-width: 78vw;
	height: auto;
	max-height: 99vw;
	border-radius: 9px;
}

.img-preview .close{
	width: 100%;
	padding: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.img-preview .close i{
	background-color: rgba(0, 0, 0, .8);
	border-radius: 50%;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 70% 70%;
	background-position: center center;
	background-image: url(/assets/icons/close.svg);
	display: block;
	width: 44px;
	height: 44px;
}

.img-preview.show{
	opacity: 1;
	pointer-events: all;
}

.fs.copy{ cursor: copy }
.fs.copy::after{
	content: '';
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #3B28CC;
	background-position: center center;
	background-size: 64px 64px;
	background-repeat: no-repeat;
	background-image: url(/assets/icons/upload-cloud-bold.svg);
}

.fs{
	width: calc(100% + 60px);
	margin-left: -30px;
	margin-top: -30px;
	min-height: calc(100% + 60px);
	padding: 30px;
	position: relative;
}