.app-cards .app{
	margin: 10px 0;
	width: 100%;
	max-width: 700px;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #c4dcdf;
	cursor: pointer;
	transition: .2s all;
}

.app-cards .app h2{
	color: #24272B;
	word-break: break-all;
	max-width: 100%;
}

.app-cards .app p{
	margin-top: 8px;
	color: #383B3E;
}

.app-cards .app:hover{ background-color: #fafafa }

.app-cards .banner{ margin-top: 20px }

app-type{
	display: flex;
	align-items: center;
	gap: 10px;
}

app-type::before{
	content: '';
	min-width: 70px;
	text-align: center;
	display: inline-block;
	padding: 5px;
	background-color: #2667FF;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 5px;
}

app-type[mobile]::before{ content: 'mobile' }
app-type[desktop]::before{
	content: 'desktop';
	background-color: #333;
}

.loading-apps{ margin-top: 20px }

.app .options{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.app .options img{
	width: 32px;
	margin-right: 10px;
	padding: 5px;
	border-radius: 4px;
}

.app .options img:hover,
.app .options span:hover{
	background-color: #eee;
	padding: 5px;
	border: 0;
}

.app .options span{
	display: block;
	padding: 4px;
	border-radius: 5px;
	color: var(--primary);
	border: 1px solid var(--primary);
	margin-right: 10px;
}

.app .options > div{ display: flex }